.body{
    font: 20px Arial,sans=seri;
    background: beige;
}

.navbar{
    background-color:rgba(35, 223, 236, 0.527);
}

.margin{
    padding-bottom: 25px;
    padding-top: 10px;
}
.quemsomos{
    background-color:rgb(117, 201, 180);
    color: rgb(41, 11, 11);
}
.parceiros{
    padding-bottom: 500px;
    background-color:rgb(117, 201, 180);
    color: rgb(41, 11, 11);
}
.servicos{

}
.bg-footer{
    background-color: black;
    color: rgb(41, 11, 11);
}